<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>loading_1</string>
	<string>loading_2</string>
	<string>loading_3</string>
	<string>loading_4</string>
	<string>loading_5</string>
	<string>loading_6</string>
	<string>loading_7</string>
	<string>loading_8</string>
	<string>loading_9</string>
	<string>loading_10</string>
	<string>loading_11</string>
	<string>loading_12</string>
	<string>loading_13</string>
	<string>loading_14</string>
</array>
</plist>
